body {
    margin: 0;
}

body, input, button {
    font-size: 14px;
    font-family: Roboto, arial, sans-serif;
    color: var(--COEmY);
}


/* header */

.navbar {
    display : flex;
    justify-content: space-between;
    margin: 20px;
}

.nav-item {
    text-decoration: none;
    color: #000000;
    padding-right: 15px;   
    font-size: 13px; 
}

.nav-item:hover {
    text-decoration: underline;
}

.nav-about {
    margin-left: 15px;
}

.gd_nd {
    color: #ffffff;
    background: #1a73e8;
    border: 1px solid transparent;
    margin-left: 4px;
    width: 96px;
    height: 36px;
    border-radius: 4px;
    font-family: Google Sans, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    /* padding-right: 8px; */
    padding: 9px 23px;
    text-align: center;
}

.gd_nd:hover {
    background: #1b66c9;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 1px rgba(66, 64, 67, .15), 0 1px 2px 0 rgba(60, 64, 67, .3);   
}

.menu_radius:hover {
    border-radius: 100px;
    background-color: rgba(60, 64, 67, .08);
    margin: -10px;
    padding: 10px;
}

/* main */

.main {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.search-window { 
    margin-top: 20px;
    width: 584px;
    height: 48px;
    border-radius: 24px;
    padding: 0 40px;
    background: #fff;
    border: 1px solid #dfe1e5;
}

.search-icon {
    position: relative;  /* relative : 내가 있는 위치에서부터 움직이는 것  */
    left: 40px;
    color: #9aa0a6;
}

.mic-icon {
    position: relative;  /* relative : 내가 있는 위치에서부터 움직이는 것  */
    right: 40px;
    color: #9aa0a6;    
}


.button-area {
    padding-top: 18px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.button-area:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}



.favorite-in-language {
    text-decoration: none;
    color: black;
}

.favorite-in-language:hover {
    text-decoration: underline;
}



.empty-box {
    height: 230px;
}


/* footer */

.footer {
    position: absolute;
    bottom : 0px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    background: #f2f2f2;    
    height: 50px;
}

.footer-bg {
    padding: 15px;
}

.leaf-bg {
    position: relative;
    left : -64px;
}

.leaf-icon {
    height: 14px;
    margin-right: -6px;
}


.footer-item {
    text-decoration: none;
    color: #000000;
    padding: 0 15px;    
}

.footer-item:hover {
    text-decoration: underline;
}